/* Variables Color */
$colorWhile: #ffffff;
$colorBlue: #0091eb;
$colorGray: #dae5f2;
$colorOrange: #ff9900;
$colorDarkBlue: #02203a;
$colorRed: #e9473f;
$colorGreen: #0fb800;

/* Variables Text */
$fontSize: 1rem;
$lineHeight: 1.3rem;
